.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;

  margin: 1rem 0;

  button {
    border: 1px solid rgba(51, 51, 51, 0.2);
    color: var(--black);
    background: none;
    border-radius: 50%;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;

      svg {
        stroke: rgba(51, 51, 51, 0.2);
      }
    }

    svg {
      width: 16px;
      height: 16px;
      stroke: var(--black);
    }
  }
}
