.inputWrapper {
  height: 3.75rem;
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);

  border-radius: 4px;

  &.grid {
    display: grid;
    grid-template-columns: 2fr 0.75fr;
    grid-template-rows: 100%;

    div {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    button {
      font-weight: bold;

      background: var(--white);
      color: var(--pink-500);

      border-radius: 44px;
      border: none;

      cursor: pointer;

      transition: background 200ms;

      &:hover {
        background: #e6e6e6;
      }
    }
  }

  label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
  }

  input {
    border: none;

    font-size: 1rem;

    background: transparent;
    color: var(--white);

    padding: 0;
    outline: 0;
  }
}
