*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #333333;

  --pink-500: #b22e6f;
  --pink-900: #ab2680;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Heebo", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  height: 100%;
  isolation: isolate;
}

/* width */
::-webkit-scrollbar {
  margin-left: 1rem;
  width: 4px;
  height: 20;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink-900);
  border-radius: 30px;
}

// Modal transition
.ReactModal__Overlay {
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
