.home {
  width: 100%;
  height: 100%;

  background: url("/background_home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.homeWrapper {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    position: relative;

    max-width: 368px;
    min-height: 224px;

    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputsWrapper {
      display: grid;
      grid-template-rows: repeat(2, auto);
      row-gap: 1rem;
    }
  }
}

.error {
  position: absolute;
  top: 110%;

  max-width: fit-content;

  padding: 1rem;

  font-weight: 700;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  color: var(--white);

  border-radius: 4px;

  transition: visibility 200ms;

  &.visible {
    opacity: 1;
  }

  &.invisible {
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;

    bottom: 100%;

    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid rgba(255, 255, 255, 0.4);
  }
}
