.modalContent {
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }

  .colOne {
    display: flex;
    align-items: center;

    img {
      filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.3));
    }
  }

  .colTwo {
    max-width: 360px;
    padding: 1rem 0 1rem 3rem;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    .modalHeader {
      margin-bottom: 2rem;

      h1 {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        max-width: 100%;
      }

      p {
        color: var(--pink-900);
      }
    }

    .infoWrapper {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      > b {
        margin-bottom: 1rem;
      }

      span {
        white-space: nowrap;
        display: flex;
        justify-content: space-between;

        p {
          color: #999999;
        }
      }
    }

    .blockquote {
      > b {
        display: block;
        margin-bottom: 1rem;
      }
      .statement {
        color: #999;
        position: relative;
        overflow-y: scroll;
        max-height: 146px;

        svg {
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
        }

        blockquote {
          &::first-letter {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}

.loaderWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
