.reactModalOverlay {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    display: block;
    overflow: scroll;
    padding: 4rem 2rem 2rem 2rem;
  }

  button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    background: var(--white);
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 50%;
    padding: 0.75rem;

    cursor: pointer;

    svg {
      color: #999999;
      width: 12px;
      height: 12px;
    }

    @media screen and (max-width: 768px) {
      position: absolute;
      top: -7%;
      right: -10%;
    }
  }
}

.reactModalContent {
  max-width: 769px;
  max-height: 608px;

  width: 100%;
  height: 100%;
  position: relative;

  background-color: var(--white);
  box-shadow: 0px 16px 80px rgba(0, 0, 0, 0.32);
  border-radius: 4px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    max-height: fit-content;
    width: 100%;
    height: fit-content;
  }
}
