.books {
  width: 100%;
  height: 100%;

  background: url("/background_books.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booksPageWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;

  .logoutWrapper {
    height: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      > p {
        visibility: hidden;
      }
    }

    button {
      border: 1px solid rgba(51, 51, 51, 0.2);
      background: none;
      border-radius: 50%;
      padding: 0.5rem;
      margin-left: 1rem;
      cursor: pointer;

      svg {
        color: #999999;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.booksWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  align-items: center;

  .bookGrid {
    display: grid;
    grid-template-columns: repeat(4, 272px);
    grid-template-rows: repeat(3, 160px);

    row-gap: 1rem;
    column-gap: 1rem;

    @media screen and (max-width: 1140px) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(12, 160px);
    }
  }
}

.loaderWrapper {
  display: flex;
  width: 100%;
  max-height: 512px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader {
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
