.bookContainerWrapper {
  width: 100%;
  height: 100%;

  padding: 1.25rem 1rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  column-gap: 1rem;

  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
  border-radius: 4px;

  cursor: pointer;

  .bookImageWrapper {
    min-width: 81px;
    max-width: 81px;
    display: flex;
    align-items: center;

    img {
      filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));
    }
  }

  .colTwo {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      display: block;
      max-width: 80%;
      font-size: 0.875rem;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .author {
      font-size: 0.75rem;
      color: var(--pink-900);
    }

    .infoWrapper {
      font-size: 0.75rem;
      color: #999999;

      .publisher {
        display: block;
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
